{% extends 'base.html' %}
{% load mymarkdown %}

{% block title %}
    详情页面
{% endblock %}
{% block main %}
    <div id="main" class="lg:w-3/4">
        <div class="article-card bg-white rounded-lg shadow-card hover:shadow-card-hover transition-all-300 mb-8 overflow-hidden">
            <div class="article-header p-6">
                <div class="flex justify-between items-center mb-2">
                    <a class="text-sm text-neutral-500 flex items-center">
                        <time>{{ post_obj.created }}</time>
                    </a>
                    <div class="bg-primary/10 text-primary text-sm px-3 py-1 rounded-full hover:bg-primary/20 transition-all-300">
                        <a href="#" class="article-category-link" target="_blank">{{ post_obj.category.cname }}</a>
                    </div>
                </div>
            </div>
            <div class="article-inner">
                <div>
                    <h1 itemprop="name" class="article-title text-2xl md:text-3xl font-bold text-neutral-800 mb-4 hover:text-primary transition-all-300">
                        <a class="article-title">{{ post_obj.title }}</a>
                    </h1>
                </div>
                <div>
                    <h2 class="text-xl font-bold text-gray-800 mb-2">前言</h2>
                        {{ post_obj.desc }}
                    <hr>
                        {{ post_obj.content|md|safe }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}